ul.unstyled {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*005bd9*/
  background-image: linear-gradient(to bottom right, #086fd4, #086fd4);
}

nav li {
  float: left;
}
.licenter {
  padding-top: 14px;
  color: white;
  float: center;
}
.liright {
  float: right;
}
nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #e3f2fd;
}

nav button {
  margin-top: 5px;
}
.login {
  background-color: #086fd4;
  color: white;
}
